<head>
  <title>clickme</title>
</head>

<body>
  {{> hello}}
</body>

<template name="hello">
    <div id="login-screen">
  <h1 class="text-center">{{> loginButtons}}</h1>
{{#if currentUser}}
  <h1 class="text-center">Home Automation Panel</h1>
    
    <div class="Appliances text-center">
    <div>Appliance 1     
        <label class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="one" checked>
            <label class="onoffswitch-label" for="one">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
		
            </label>
          </label>
  </div>
  <div>Appliance 2
      <label class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="two" checked>
          <label class="onoffswitch-label" for="two">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </label>
  </div>
  <div>Appliance 3
      <label class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="three" checked>
          <label class="onoffswitch-label" for="three">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </label>
  </div>
  <div>Appliance 4
  <label class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="four" checked>
      <label class="onoffswitch-label" for="four">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
      </label>
    </label>
  </div>





  </div>
  <!--<button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>-->
  {{/if}}
  </div>
</template>

